{% extends "home.html" %} {% block returnDetails %}

<style>
  .mytab.table.table-responsive tr td {
    padding: 5px !important;
    margin: 5px !important;
  }
</style>
<div class="content-page">
  <div class="container-fluid add-form-list">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title" style="text-align: center">
              <h4 class="card-title">New Transfer</h4>
            </div>
          </div>
          <div class="card-body">
            <form
              action="{% url 'transferGetIssueStuff' %}"
              data-toggle="validator"
              method="post"
            >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Transfer From *</label>
                    <select
                      name="issueto"
                      id="issueto"
                      class="selectpicker form-control"
                      data-style="py-0"
                      onchange="getUserDetails()"
                      required
                    >
                      <option selected="true" disabled="disabled">
                        --- Select ---
                      </option>
                      <option value="Staff">Staff</option>
                      <option value="Judge">Judge</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Employee Name :-: [Designation] *</label>
                    <div class="search_select_box">
                      <select
                        name="userdetail"
                        id="userdetail"
                        class="selectpicker form-control"
                        data-style="py-0"
                        data-live-search="true"
                        required
                      >
                        <option selected="true" disabled="disabled">
                          --- Select ---
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mr-2">
                      Get Details
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <form
              action="{% url 'transferDetailsSubmit' %}"
              data-toggle="validator"
              method="post"
            >
              {% csrf_token %} {%if flag == 'DATA' %}
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="heading-keeper">
                      <span style="padding: 2px 10px"
                        >List of Assetes Owned By ==></span
                      >
                      <h5
                        style="
                          display: inline-block;
                          margin-left: 20px;
                          font-size: 30px;
                        "
                      >
                        {{user_name}}
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="table-responsive rounded mb-3">
                    <table
                      id="assetListTransfer"
                      class="data-table table mb-0 tbl-server-info scrollable"
                    >
                      <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                          <th>
                            <div class="checkbox d-inline-block">
                              <input
                                type="checkbox"
                                id="checkAllbox"
                                name="returnme"
                                style="width: 23px; height: 23px"
                                onclick="checkMe(this)"
                              />
                              <label for="checkbox2" class="mb-0"></label>
                            </div>
                          </th>
                          <th>Product Details</th>
                          <th>Section Name (Location)</th>
                          <th>Return Remarks</th>
                          <th>Issue Remarks</th>
                          <th>Transfer Quantity</th>
                        </tr>
                      </thead>
                      <tbody class="ligth-body">
                        {% for trn in trn_det_list%}
                        <tr>
                          <td>
                            <input
                              type="hidden"
                              id="trn_no{{ forloop.counter }}"
                              name="trn_no"
                              value="{{trn.trans_id.trans_id}}"
                              disabled
                            />
                            <input
                              type="hidden"
                              id="pro_trn_no{{ forloop.counter }}"
                              name="pro_trn_no"
                              value="{{trn.pro_trans_id}}"
                              disabled
                            />
                            <div class="checkbox d-inline-block">
                              <input
                                type="checkbox"
                                class="checkbox-input"
                                id="checkbox2-{{ forloop.counter }}"
                                name="returnme"
                                style="width: 23px; height: 23px"
                                onclick="checkMe(this)"
                              />
                              <label for="checkbox2" class="mb-0"></label>
                            </div>
                          </td>
                          <td>
                            <input
                              type="hidden"
                              id="product_id{{ forloop.counter }}"
                              name="product_id"
                              value="{{trn.product_id.product_id}}"
                              disabled
                            />

                            <span class="text-muted"
                              >{{trn.product_id.product_cat_id.product_cat_name}}
                              :</span
                            >
                            {{trn.product_id.product_name.product_com_name}}
                            {%if trn.product_id.product_cat_id.product_type !=
                            'Consumable'%} -
                            ({{trn.product_id.product_model.product_mod_name}})
                            <br />
                            <span class="text-muted">Serial No : </span
                            >{{trn.product_id.product_serialno}} {%endif%}
                            <!-- <table class="mytab table table-responsive">
                                      <tr>
                                        <td>Company Name:</td>
                                        <td><span class="text-muted"> {{trn.product_id.product_name.product_com_name}}</span></td>
                                      </tr>
                                      {%if trn.product_id.product_cat_id.product_type != 'Consumable'%}
                                        <tr>
                                          <td>Model Name/No:</td>
                                          <td><span class="text-muted"> {{trn.product_id.product_model.product_mod_name}}</span></td>
                                        </tr>
                                        <tr>
                                          <td>Serial No :</td>
                                          <td><span class="text-muted"> {{trn.product_id.product_serialno}}</span></td>
                                        </tr>
                                      {%endif%}
                                      <tr>
                                        <td>Product Category : </td>
                                        <td><span class="text-muted"> {{trn.product_id.product_cat_id.product_cat_name}}</span></td>
                                      </tr>
                                      <tr>
                                        <td>Product Type:</td>
                                        <td><span class="text-muted"> {{trn.product_id.product_cat_id.product_type}}</span></td>
                                      </tr>
                                    </table> -->
                          </td>
                          <td>
                            <input
                              type="hidden"
                              name="usr_id"
                              value="{{trn.usr_id.usr_id}}"
                            />
                            <input
                              type="hidden"
                              name="section_id"
                              value="{{trn.trans_id.section_id.section_id}}"
                            />
                            {{trn.trans_id.section_id.section_name}}
                            <!-- <table class="mytab table table-responsive">                                    
                                      <tr>
                                        <td>Section Name:</td>
                                        <td><span class="text-muted"> {{trn.usr_id.location_id.section_id.section_name}}</span></td>
                                      </tr>
                                      <tr>
                                        <td>Building Name:</td>
                                        <td><span class="text-muted"> {{trn.usr_id.location_id.section_id.building_name.building_name}}</span></td>
                                      </tr>
                                      <tr>
                                        <td>Floor:</td>
                                        <td><span class="text-muted"> {{trn.usr_id.location_id.floor}}</span></td>
                                      </tr>
                                      <tr>
                                        <td>Room No: </td>
                                        <td><span class="text-muted">{{trn.usr_id.location_id.roomno}}</span></td>
                                      </tr>
                                      <tr>
                                        <td>Landmark:</td>
                                        <td><span class="text-muted"> {{trn.usr_id.location_id.landmark}}</span></td>
                                      </tr>
                                    </table> -->
                          </td>

                          <td>
                            <div class="form-group">
                              <textarea
                                name="returnRemark"
                                class="form-control"
                                id="returnRemark{{ forloop.counter }}"
                                rows="2"
                                disabled
                              >
Returning Assets due to Transfer.</textarea
                              >
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <textarea
                                name="issueRemark"
                                class="form-control"
                                id="issueRemark{{ forloop.counter }}"
                                rows="2"
                                disabled
                              >
Issued Assets of Transferred Employee. </textarea
                              >
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input
                                type="text"
                                value="{{trn.no_of_item_issue}}"
                                name="Iquantity"
                                id="Iquantity"
                                class="form-control iqun"
                                size="4"
                                readonly
                              />
                            </div>
                          </td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Transfer To *</label>
                        <select
                          name="transferto"
                          id="transferto"
                          class="selectpicker form-control"
                          data-style="py-0"
                          onchange="getUserDetailsTRN()"
                          required
                        >
                          <option selected="true" disabled="disabled">
                            --- Select ---
                          </option>
                          <option value="Staff">Staff</option>
                          <option value="Judge">Judge</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Employee Name :-: [Designation] *</label>
                        <div class="search_select_box">
                          <select
                            name="transuserdetail"
                            id="transuserdetail"
                            class="selectpicker form-control"
                            data-style="py-0"
                            data-live-search="true"
                            required
                          >
                            <option selected="true" disabled="disabled">
                              --- Select ---
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Posted At *</label>
                        <div class="search_select_box">
                          <select
                            name="locationdetail"
                            id="locationdetail"
                            class="selectpicker form-control"
                            data-style="py-0"
                            data-live-search="true"
                            required
                          >
                            <option selected="true" disabled="disabled">
                              --- Select ---
                            </option>
                            {%for loc in list_of_loc%}
                            <option value="{{loc.section_id}}">
                              {{loc.section_name}} - ({{loc.section_type}})
                              [{{loc.floor}} - R.No:{{loc.roomno}} -
                              {{loc.building_name.building_name}} -
                              {{loc.building_name.est_id.est_name}}]
                            </option>
                            {%endfor%}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Transfer Date *</label>
                    <input
                      type="date"
                      name="transferDate"
                      id="ret_date"
                      class="form-control"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Generate Receipt......?*</label>
                    <div class="form-group">
                      <select
                        name="receiving"
                        id="receiving"
                        class="selectpicker form-control"
                        data-style="py-0"
                        onchange="changeButton()"
                        required
                      >
                        <option selected="true" value="">--- Select ---</option>
                        <option value="Yes">YES</option>
                        <option value="No">NO</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group text-center">
                    <button
                      id="subButton"
                      type="submit"
                      class="btn btn-primary mr-2"
                      onclick="doChanges()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>

              {%endif%}
            </form>
            <!--END OF TABLE row-->
          </div>
        </div>
      </div>
    </div>
    <!-- ROW END-->
    <!-- Page end  -->
  </div>
</div>

<script>
  document.getElementById("ret_date").valueAsDate = new Date();
  function checkMe(e) {
    cb = e.getAttribute("id").split("-")[1];
    // FOR ALL CHECKBOX
    var checkedNum = $("#assetListTransfer tr").length - 1;
    if (e.getAttribute("id") == "checkAllbox" && e.checked) {
      for (let i = 1; i <= checkedNum; i++) {
        $("#trn_no" + i).prop("disabled", false);
        $("#pro_trn_no" + i).prop("disabled", false);
        $("#product_id" + i).prop("disabled", false);
        $("#Rquantity" + i).prop("disabled", false);
        $("#returnRemark" + i).prop("disabled", false);
        $("#issueRemark" + i).prop("disabled", false);
        $("#productstatus" + i).attr("disabled", false);
        $("#productstatus" + i).selectpicker("refresh");
        $("#producthealth" + i).attr("disabled", false);
        $("#producthealth" + i).selectpicker("refresh");
        $("#healthRemark" + i).prop("disabled", false);
      }
    } else if (e.getAttribute("id") == "checkAllbox" && !e.checked) {
      for (let i = 1; i <= checkedNum; i++) {
        $("#trn_no" + i).prop("disabled", true);
        $("#pro_trn_no" + i).prop("disabled", true);
        $("#product_id" + i).prop("disabled", true);
        $("#Rquantity" + i).prop("disabled", true);
        $("#returnRemark" + i).prop("disabled", true);
        $("#issueRemark" + i).prop("disabled", true);
        $("#productstatus" + i).attr("disabled", true);
        $("#productstatus" + i).selectpicker("refresh");
        $("#producthealth" + i).attr("disabled", true);
        $("#producthealth" + i).selectpicker("refresh");
        $("#healthRemark" + i).prop("disabled", true);
      }
    }
    // FOR INDIVIDUAL CHECKBOX
    if (e.checked) {
      $("#trn_no" + cb).prop("disabled", false);
      $("#pro_trn_no" + cb).prop("disabled", false);
      $("#product_id" + cb).prop("disabled", false);
      $("#Rquantity" + cb).prop("disabled", false);
      $("#returnRemark" + cb).prop("disabled", false);
      $("#issueRemark" + cb).prop("disabled", false);
      $("#productstatus" + cb).attr("disabled", false);
      $("#productstatus" + cb).selectpicker("refresh");
      $("#producthealth" + cb).attr("disabled", false);
      $("#producthealth" + cb).selectpicker("refresh");
      $("#healthRemark" + cb).prop("disabled", false);
    } else {
      $("#trn_no" + cb).prop("disabled", true);
      $("#pro_trn_no" + cb).prop("disabled", true);
      $("#product_id" + cb).prop("disabled", true);
      $("#Rquantity" + cb).prop("disabled", true);
      $("#returnRemark" + cb).prop("disabled", true);
      $("#issueRemark" + cb).prop("disabled", true);
      $("#productstatus" + cb).attr("disabled", true);
      $("#productstatus" + cb).selectpicker("refresh");
      $("#producthealth" + cb).attr("disabled", true);
      $("#producthealth" + cb).selectpicker("refresh");
      $("#healthRemark" + cb).prop("disabled", true);
    }
  }

  function changeButton() {
    let r1 = $("#receiving option:selected").val();
    // let r1 = $("input[name='receiving']:checked").val();
    if (r1 === "Yes") $("#subButton").html("Submit and Print");
    else $("#subButton").html("Submit");
  }

  function getUserDetails() {
    issueto = $("#issueto").val();
    $.ajax({
      type: "GET",
      url: "/issueUserDetailsFilter",
      data: {
        issueto: issueto,
      },
      success: function (data) {
        $("#userdetail").html(data);
        $("#userdetail").selectpicker("refresh");
      },
    });
  }

  function getUserDetailsTRN() {
    issueto = $("#transferto").val();
    $.ajax({
      type: "GET",
      url: "/issueUserDetailsFilter",
      data: {
        issueto: issueto,
      },
      success: function (data) {
        $("#transuserdetail").html(data);
        $("#transuserdetail").selectpicker("refresh");
      },
    });
  }
  function getIssueStuff() {
    userdetail = $("#userdetail").val();
    $.ajax({
      type: "GET",
      url: "/returngetIssueStuff",
      data: {
        userdetail: userdetail,
      },
      success: function (data) {
        $("#userdetail").html(data);
        $("#userdetail").selectpicker("refresh");
      },
    });
  }
</script>
{% endblock %}
