
<!DOCTYPE html>
{% comment %} RETURN  {% endcomment %}
<html lang="en">
    <head>
        <style>
            .comp {
                width: 100%;       
                margin: 0px !important;
                padding: 0px !important;                
            }
            table.comp  td  {
                border: 0.08rem solid black;
            }
            table.copy{
                width: 100%;
            }
            table,td{
                margin: 5px;
                padding: 5px;
            }  
            body{
                font-size: 10px;
                margin-left: 0%;
                padding: 0%;
            }                                      
        </style>
    </head>
    <body>
        <table id="main" style="width: 100%;" >
            <tr>
                <td style="border: 2px solid black;">
                    <table class="copy">
                        <tr>                
                                   
                            <td style="text-align:center ;" colspan="5" ><span style="font-size:16px ;"><b>District & Sessions Court, Durg</b></span></td>
                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Recipient Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:<span id="rcdate"></span></td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Return Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;</td></tr>

                        <tr><td style="font-size:12px ;" colspan="3"><b>Returned By</b></td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name :{{t_det_return.usr_id.usr_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : {{t_det_return.usr_id.usr_des_id.usr_des_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Establishment Name : {{t_det_return.section_id.building_name.est_id.est_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : {{t_det_return.section_id.section_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Return Date : {{pdet_return.trans_return_date|date:"d/m/Y"}}</td></tr>
                        
                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Returned Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    {%for d in prodetno_return%}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{d.product_id.product_cat_id.product_cat_name}} : {{d.product_id.product_com_name}} ({{d.product_id.product_model.product_mod_name}})</td>
                                        <td>{{d.product_id.product_serialno}}</td>
                                        <td>{{d.no_of_item_return}}</td>
                                        <td>{{d.return_remarks}}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </td>
                        </tr>        
                        <tr>                        
                            <td colspan=6><b>Computer Assets Transfer to :- {{t_det_issue.usr_id.usr_name}} - [{{t_det_issue.section_id.section_name}}]</b></td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td colspan="1"></td>            
                            
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            
                        </tr>                        
                       
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>                                                                               
                            <td colspan="1"></td>                                                                               
                            <td style="text-align:center;width: 250px;"><b>Signature</b><br>{{t_det_return.usr_id.usr_name}}<br>{{t_det_return.usr_id.usr_des_id.usr_des_name}}</td>           
                        </tr>
                      
                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
                <td style="border: 3px dashed black;padding: 0px !important;"></td>
                <td style="border: 2px solid black;">
                    <table class="copy">
                        <tr>                
                                   
                            <td style="text-align:center ;" colspan="5" ><span style="font-size:16px ;"><b>District & Sessions Court, Durg</b></span></td>
                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Office Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:<span id="ocdate"></span></td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Return Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;</td></tr>
                        <tr><td style="font-size:12px ;" colspan="3"><b>Returned By</b></td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name : {{t_det_return.usr_id.usr_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : {{t_det_return.usr_id.usr_des_id.usr_des_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Establishment Name : {{t_det_return.section_id.building_name.est_id.est_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : {{t_det_return.section_id.section_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Return Date : {{pdet_return.trans_return_date|date:"d/m/Y"}}</td></tr>
                        
                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Returned Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    {%for d in prodetno_return%}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{d.product_id.product_cat_id.product_cat_name}} : {{d.product_id.product_com_name}} ({{d.product_id.product_model.product_mod_name}})</td>
                                        <td>{{d.product_id.product_serialno}}</td>
                                        <td>{{d.no_of_item_return}}</td>
                                        <td>{{d.return_remarks}}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </td>
                        </tr>        
                        <tr>                                              
                            <td colspan=6><b>Computer Assets Transfer to :- {{t_det_issue.usr_id.usr_name}} - [{{t_det_issue.section_id.section_name}}]</b></td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td colspan="1"></td>            
                            
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                        
                       
                        <tr>     
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>                                                    
                            <td style="text-align:center;width: 250px;"><b>Signature</b><br>{{t_det_return.usr_id.usr_name}}<br>{{t_det_return.usr_id.usr_des_id.usr_des_name}}</td>           
                        </tr>
                        
                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
            </tr>                        
        </table>       
    </body>
</html>
{% comment %} ISSUE  {% endcomment %}
<html lang="en">
    <head>
        <style>
            .comp {
                width: 100%;       
                margin: 0px !important;
                padding: 0px !important;                
            }
            table.comp  td  {
                border: 0.08rem solid black;
            }
            table.copy{
                width: 100%;
                
            }
            table,td{
                margin: 5px;
                padding: 5px;
            }  
            body{
                font-size: 10px;
                margin-left: 0%;
                padding: 0%;
            }                                      
        </style>
    </head>
    <body>
        <table id="main" style="width: 100%;" >
            <tr>
                <td style="border: 2px solid black;padding: 0px;">
                    <table class="copy">
                        <tr>                
                           <td style="width: 15%;"><span style="font-size:12px;">Rec.No: {{t_det_issue.trans_id}}</span></td>
                            <td style="text-align:left ;" colspan="4" ><span style="font-size:16px;margin-left: 15%;"><b>District & Sessions Court, Durg</b></span></td>                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Recipient Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:<span id="rcdateI"></span></td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Issue Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;</td></tr>
                        <tr><td style="font-size:12px ;" colspan="3"><b>Issued To</b></td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name : {{t_det_issue.usr_id.usr_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : {{t_det_issue.usr_id.usr_des_id.usr_des_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Establishment Name : {{t_det_issue.section_id.building_name.est_id.est_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : {{t_det_issue.section_id.section_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Issued Date : {{t_det_issue.trans_issue_date|date:"d/m/Y"}}</td></tr>
                        
                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Issued Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    {%for d in prod_trn_issue%}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{d.product_id.product_cat_id.product_cat_name}} : {{d.product_id.product_com_name}} ({{d.product_id.product_model.product_mod_name}})</td>
                                        <td>{% if d.product_id.product_serialno %} {{d.product_id.product_serialno}} {%else%} NA {%endif%} </td>
                                        <td>{{d.no_of_item_issue}}</td>
                                        <td>{%if d.issue_remarks%} {{d.issue_remarks}} {%else%} - {%endif%}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </td>
                        </tr>        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>            
                            <td style="text-align:center;"><b>Signature</b><br>{{t_det_issue.usr_id.usr_name}}<br>{{t_det_issue.usr_id.usr_des_id.usr_des_name}}</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
                <td style="border: 3px dashed black;padding: 0px !important;"></td>
                <td style="border: 2px solid black;padding: 0px;">
                    <table class="copy">
                        <tr>                
                            <td style="width: 15%;"><span style="font-size:12px;">Rec.No: {{t_det_issue.trans_id}}</span></td>
                            <td style="text-align:left ;" colspan="4" ><span style="font-size:16px;margin-left: 15%;"><b>District & Sessions Court, Durg</b></span></td>                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Office Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:<span id="ocdateI"></span></td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Issue Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;</td></tr>
                        <tr><td style="font-size:12px ;" colspan="3"><b>Issued To</b></td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name : {{t_det_issue.usr_id.usr_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : {{t_det_issue.usr_id.usr_des_id.usr_des_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Establishment Name : {{t_det_issue.section_id.building_name.est_id.est_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : {{t_det_issue.section_id.section_name}}</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Issued Date : {{t_det_issue.trans_issue_date|date:"d/m/Y"}}</td></tr>
                        
                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Issued Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    {%for d in prod_trn_issue%}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{d.product_id.product_cat_id.product_cat_name}} : {{d.product_id.product_com_name}} ({{d.product_id.product_model.product_mod_name}})</td>
                                        <td>{% if d.product_id.product_serialno %} {{d.product_id.product_serialno}} {%else%} NA {%endif%} </td>
                                        <td>{{d.no_of_item_issue}}</td>
                                        <td>{%if d.issue_remarks%} {{d.issue_remarks}} {%else%} - {%endif%}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </td>
                        </tr>        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>            
                            <td style="text-align:center;"><b>Signature</b><br>{{t_det_issue.usr_id.usr_name}}<br>{{t_det_issue.usr_id.usr_des_id.usr_des_name}}</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
            </tr>                        
        </table>

        <script>
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1; // Months start at 0!
            let dd = today.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            const formattedToday = dd + '/' + mm + '/' + yyyy;     
            document.getElementById("rcdate").textContent = formattedToday; 
            document.getElementById("ocdate").textContent = formattedToday; 

            document.getElementById("rcdateI").textContent = formattedToday; 
            document.getElementById("ocdateI").textContent = formattedToday; 
        </script>         
    </body>
</html>